<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <title>Portfolio - LFO</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
  
    <!-- Bootstrap CSS v5.2.0-beta1 and Icons V1.9.1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/style.css">
  
</head>
<body>
  
    <header>
        <nav class="navbar navbar-expand-lg bg-light  fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">LFO DEV</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link hvr-underline-from-center" aria-current="page" href="index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link hvr-underline-from-center" href="sobre.html">Sobre</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link hvr-underline-from-center" href="contato.html">Contato</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link hvr-underline-from-center" href="projeto.html">Projetos</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>

  <main>
    <section id="s1">
      <div class="container-fluid text-center">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <img src="../static/img/dev3.png" class="img-fluid rounded-pill" alt="...">
          </div>
          <div class="col-md-4 align-self-center py-2">
            <h3 class="ml3 text-white">SOBRE MIM</h3>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
            <p class="lh-sm fw-semibold text-white">
              Olá, tudo bem?<br>Me chamo Luiz Fernando, resido em São Paulo-SP.
              Aficionado por programação, gosto de desenvolver projetos desafiadores que me retirem da zona de conforto, onde, posso tá aprendendo alguma técnica ou ferramenta nova.
              Tenho como hobby jogar games e cuidar dos meus dogs quando não estou estudando, ou praticando meus conhecimentos técnicos na programação.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5">
      <div class="container-fluid">
        <div class="row text-center">
          <div class="col-sm-offset-4">
            <h4><i class="bi bi-cpu"></i> Tecnologias que uso e Estudo</h4>
            <div class="py-4">
              <img src="../static/img/icons8-html-5-128.png"  class="hvr-grow-shadow img-thumbnail">
              <img src="../static/img/icons8-css3-128.png" class="hvr-grow-shadow img-thumbnail">
              <img src="../static/img/icons8-flask-128.png" class="hvr-grow-shadow img-thumbnail">
              <img src="../static/img/icons8-python-128.png" class="hvr-grow-shadow img-thumbnail">
              <img src="../static/img/icons8-javascript-128.png" class="hvr-grow-shadow img-thumbnail">
              <img src="../static/img/pngegg.png" class="hvr-grow-shadow img-thumbnail">
            </div>
          </div>
        </div>
      </div>
    </section>
    <br>
  </main>


   
    <footer class="container py-5 text-center">
      <br><br><br> <br><br><br>
        <p>Cover template by <a href="#" class="text-warning"><i class="bi bi-c-circle"></i> LFO DEV</a>2022, icons <a href="https://www.flaticon.com/br/icones-gratis/bootstrap" title="bootstrap ícones" class="text-danger">Bootstrap icons by Freepik - Flaticon & <a target="_blank" href="https://icons8.com" class="text-danger">Icons8</a> Image by <a href='https://.pngtree.com/so/duas'>pngtree.com</a><a target="_blank" href="https://icons8.com/icon/121464/python"></a>.</p>
      </footer>
     <!-- Bootstrap JavaScript Libraries -->
     <script src="../static/script.js"></script>
    <script src="./static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
  </script>
</body>
</html>